categorical:
  features: ["S"]
  seq_len: [24]
  pred_len: [2]
  num_tokens: [100, 500, 1000]
  loss: ["MSE"]
  lradj: ["type1", "type2", "type3", "PEMS", "TST", "constant"]
  n_heads: [2, 4, 8, 16]
  d_ff: [32, 64, 128, 256]
  batch_size: [8]
  patch_len: [12]
  stride: [2]
  epochs: [1, 2]

int:
  llm_layers:
    low: 4
    high: 6
  d_model:
    low: 16
    high: 64
    step: 16

float:
  dropout:
    low: 0.0
    high: 0.5
    step: 0.1
  pct_start:
    low: 0.1
    high: 0.5
    step: 0.1
  learning_rate:
    low: 1e-5
    high: 1e-2
    log: true

# log_float:
# Cannot be used if there are no parameters in the section